Repository square/maker, changes with the owners that .github/CODEOWNERS names for each.
All owners: @square/maker-core-team, @privatenumber, @square/maker-reviewers

docs: update deploys
  index.html
Owners: @square/maker-core-team

fix: contextual error color for form components (#486)
  src/components/Checkbox/src/CheckboxControl.vue
  src/components/Input/README.md
  src/components/Input/src/InputControl.vue
  src/components/PinInput/README.md
  src/components/PinInput/src/PinInputControl.vue
  src/components/Radio/src/RadioControl.vue
  src/components/Select/README.md
  src/components/Select/src/SelectControl.vue
  src/components/Textarea/README.md
  src/components/Textarea/src/TextareaControl.vue
  src/components/Theme/src/publicize-vars.js
  src/components/Toggle/src/ToggleControl.vue
Owners: @square/maker-reviewers, @square/maker-core-team

Notes added by 'git notes add'
  75/99a99feadee6b14e20d6e393bbacba7131df3e
Owners: @square/maker-core-team

feat(thumbnails): add Thumbnails component
  src/components/Thumbnails/README.md
  src/components/Thumbnails/index.js
  src/components/Thumbnails/src/Thumbnails.vue
Owners: @square/maker-reviewers

feat(container): add padding prop to container component
  src/components/Container/README.md
  src/components/Container/src/Container.vue
Owners: @square/maker-reviewers

.github/CODEOWNERS:

# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Maker Team hierarchy
#
# Maker Contributors (@square/maker-contributors)
# - have write access to repo, can push commits & open PRs
#
# Maker Reviewers (@square/maker-reviewers)
# - are also contributors
# - have write access to repo, can push commits & open PRs
# - can approve PRs that change components, docs, or lab experiments
#
# Maker Core Team (@square/maker-core-team)
# - are also reviewers
# - have admin access to repo, can do anything
# - can approve any PRs

# by default all files are owned by the Core Team
*						@square/maker-core-team

# @privatenumber was a former Core Team member and has
# been grandfathered into owning these directories
build					@square/maker-core-team @privatenumber
.github					@square/maker-core-team @privatenumber

# lab experiment changes be can approved by reviewers
/lab/components			@square/maker-reviewers
/lab/experiments		@square/maker-reviewers

# component changes can be approved by reviewers
/src/components			@square/maker-reviewers

# except for changes to the Theme component,
# which must be approved by the Core Team
/src/components/Theme	@square/maker-core-team

# docs changes can be approved by reviewers
*.md					@square/maker-reviewers

# all other changes to all other files have
# to be approved by the Core Team
